
<div style="margin-top: 30px">
    <h1 class="text-center mb-5">🌈 </h1>
    <table class="table mb-5">
        <thead>
            <tr>
                <th>Full name</th>
                <th>Day</th>
                <th>Start at</th>
                <th>End at</th>
            </tr>
        </thead>
        {{#each schedules}}
        <tr>
            <td><a href="/user/{{this.userId}}">{{this.firstname}} {{this.surname}}</a></td>
            <td>{{getDay this.dayOfWeek}}</td>
            <td>{{ this.startTime}}</td>
            <td>{{ this.endTime}}</td>
        </tr>
        {{/each}}
    </table>
</div>

